# =====================================
# Python
# =====================================

__pycache__/
*.py[cod]
*.pyo
*.pyd

# =====================================
# Virtual Environments
# =====================================

.venv/
venv/
env/

# =====================================
# VS Code
# =====================================

.vscode/

# =====================================
# macOS
# =====================================

.DS_Store

# =====================================
# User Dataset
# Keep folder structure but ignore files
# =====================================

dataset/*
!dataset/.gitkeep
!dataset/README.md

# =====================================
# AI Models
# =====================================

models/*
!models/.gitkeep
!models/README.md

# =====================================
# Logs
# =====================================

*.log

# =====================================
# Environment Variables
# =====================================

.env

# =====================================
# Python Test Cache
# =====================================

.pytest_cache/

# =====================================
# Build Files
# =====================================

build/
dist/

# =====================================
# Jupyter
# =====================================

.ipynb_checkpoints/